
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    min-width: 480px;
    min-height: 640px;

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 150px 1fr 5%;
}

.header-container{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100%;
}

.logo-container{
    grid-column-start: 1;
    grid-column-end: 2;

    background: linear-gradient(to right,#FFF139, #FFD820, #EEC400);
}

.logo-container img{
    max-width: 75%;
    max-height: 75%;

    padding: 20px;
}

.title-container{
    grid-column-start: 2;
    grid-column-end: 3;

    font-size: 25px;
    background: linear-gradient(to right,#EEC400, #FFD820, #FFF139);
    
}

.title-container img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 10px;
}

.title-container h1{
    font-size: 48px;
    text-align: center;
}

.title-container h3{
    font-size: 24px;
    text-align: center;
}

header{
    grid-column-start: 1;
    grid-column-end: 3;
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
}

article{
    
}

aside{
    grid-column-start: 1;
    grid-column-end: 2;

    background: linear-gradient(#0095B5,#0094B2,#19ADCB,#32C6E4);
}

.side-menu-item:hover{
    background: linear-gradient(to right,#EEC400, #FFD820, #FFF139);
}
.side-menu-item{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;

    width: 150px;
    height: 100px;

    /*outline: 1px solid black;*/
}

.item-link{
    grid-column-start: 1;
    grid-column-end: 2;
}


.item-link img{
    margin-left: 10px;
    width: 80%;
    padding-top: 10px;

    cursor: pointer;
}

.item-link img:hover{
    width: 100%;
    cursor: pointer;
}

.item-sound{
    grid-column-start: 2;
    grid-column-end: 3;
}



.item-sound img{

    padding-left: 20px;
    padding-top: 40px;
    width: 50%;

    cursor: pointer;
}

.item-sound img:hover{
    width: 60%;

    cursor: pointer;
}

.item-video-tuto{
    grid-column-start: 1;
    grid-column-end: 3;
}

.item-video-tuto img{
    padding-left: 20%;
    padding-top: 10%;
    width: 60%;
}

section{
    
}

footer{
    grid-column-start: 1;
    grid-column-end: 3;

    background: linear-gradient(to right,#FFF139, #FFD820, #EEC400);
}

.whatsapp-button {
    position:fixed; 
    right:10px; 
    bottom: 30px; 
    width:70px; 
    height:auto; 
 }