* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Ari;
    background-color: #ecebeb;
}
#logo {
    position: absolute;
    left: 40px;
    top: 10px;
}
#logo img {
    border-radius: 25%;
    width: 100px;
}
#navbar {
    font-size: 25px;
    background: linear-gradient(to right,#EEC400, #FFD820, #FFF139);
    padding: 0;
    text-align: center;
    
}
#navbar img{
    width: 245px;
    border-radius: 25%;
    float: top;
}

#sidebar {
    position: absolute;
    width: 160px;
    float: left;
    margin-top: 129px;
    height: 160vh;

    background: linear-gradient(#0095B5,#0094B2,#19ADCB,#32C6E4);
}

#Menu {
    text-align: center;
}

.icon-button {
    
    background: none;
    border: none;
    cursor: pointer;
}

.icon-button {
    margin-left:30px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.home-icon {
   width:50px; 
}

.play {
   width:30px; 
   height:auto; 
   margin-top: 12px;
   margin-left: 12px;
}
.VIDEO {
    position:fixed; 
    bottom:10px; 
    width:150px; 
    height:auto; 

}

#content {
   margin-top:80px; 
   margin-left:380px; 
   display:block; 
}

#grid {
   margin-top:20px; 
   display:flex; 
   flex-direction:column; 
   grid-template-columns:repeat(auto-fill,minmax(200px,1fr)); 
   gap:20px; 
}

#grid img {
   width:70%; 
   cursor: pointer;
   height:auto; 
}

#whatsapp-button {
   position:fixed; 
   right:10px; 
   bottom:10px; 
   width:70px; 
   height:auto; 
}
